.ticket-card {
    padding: 16px;
    background: white;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 12px;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ticket-top{
    display: flex;
    flex-direction: column;

  }
  
  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .ticket-id {
    color: #6b6f76;
    font-size: 14px;
  }
  
  .user-status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  .user-status.available {
    background-color: #00ff00;
  }
  
  .ticket-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
  }
  
  .status-icon, .priority-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .ticket-title {
    font-size: 14px;
    margin: 0;
    text-align: left;
    font-weight: 500;
    flex: 1;
  }
  
  .ticket-footer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .ticket-tag {
    padding: 4px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-size: 12px;
    color: #666;
  }
  